@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

/* START: Navbar styles */
.navbar {
  @apply relative h-[71px] w-[1252px] bg-primary px-4 md:px-8 lg:px-16 xl:px-32 2xl:px-64;
}

.nav-text {
  @apply text-center align-middle text-[12px] font-medium leading-[17.33px] tracking-[0px];
  font-family: "DM Sans", sans-serif;
}

/* END: Navbar styels */

/* START: CATEGORY STYLES */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}
